# Численные методы
---

### Задание 2. Решить уравнение методом Ньютона и хорд с точностью ε = 0,001.
---

Ниже приведен пример решения для уравнения $\sqrt{(x+1)}=1/x$ на интервале $[0.1; 1]$

In [1]:
import numpy as np
import math
# Чсиленные методы

### Метод Ньютона
from sympy import symbols, diff, sqrt

import pandas as pd


x = symbols('x')
E = 0.001
a = 0.1
b = 1
def F(val):
    x = symbols('x')
    f = sqrt(x+1)-(1/x)
    return f, float(f.subs({x: val}))
F(10)[0]

def dF(val):
    x = symbols('x')
    f = diff(F(val)[0])
    return f, float(f.subs({x: val}))

dF(10)[0]

1/(2*sqrt(x + 1)) + x**(-2)

In [2]:
def d2F(val):
    x = symbols('x')
    f = diff(dF(val)[0])
    return f, float(f.subs({x: val}))

d2F(10)[0]

-1/(4*(x + 1)**(3/2)) - 2/x**3

In [12]:
def add_into_table(x0, xn):
        res_table.loc[len(res_table.index)] = [x0, xn]

def NewtonMethod():
    res_table = pd.DataFrame(columns=[
        'x0',
        'xn'
    ])
    
    def add_into_table(x0, xn):
        res_table.loc[len(res_table.index)] = [x0, xn]
        
    if F(a)[1] * d2F(a)[1] > 0:
        x0 = a
    else:
        x0 = b
    xn = x0 - (F(x0)[1]/dF(x0)[1])
    xn = float(xn)
    add_into_table(x0, xn)
    i = 1
    while abs(x0 - xn) > E:
        i += 1
        x0 = xn
        xn = x0 - F(x0)[1]/dF(x0)[1]
        add_into_table(x0, xn)
    return res_table, xn

In [13]:
print("x = ", NewtonMethod()[1])
NewtonMethod()[0]

x =  0.7548776658829206

         x0        xn
0  0.100000  0.189087
1  0.189087  0.336765
2  0.336765  0.532792
3  0.532792  0.695488
4  0.695488  0.750857
5  0.750857  0.754860
6  0.754860  0.754878

In [14]:
def HordMethod():
    try:
        res_table = pd.DataFrame(columns=[
        'x_n-1',
        'xn',
        ])
        def add_into_table(x0, xn):
            res_table.loc[len(res_table.index)] = [x0, xn]

        if d2F(a)[1] * F(a)[1] > 0:
            x0 = a
        else:
            x0 = b

        x1 = x0 - (F(x0)[1]/(F(b)[1] - F(a)[1])) * (b - a)
        add_into_table(x0, x1)
        xn = x1
        x2 = xn - (F(xn)[1]/(F(b)[1] - F(xn)[1])) * (b - xn)
        xn -= (F(xn)[1]/(F(b)[1] - F(xn)[1])) * (b - xn)
        add_into_table(x2, xn)
        while abs(xn - x1) > E:
            x1 = xn
            xn -= (F(xn)[1]/(F(b)[1] - F(xn)[1])) * (b - xn)
            add_into_table(x1, xn)


        return res_table, xn
    except ValueError:
        print("Value not invalidate")

In [6]:
print("x = ",HordMethod()[1])
HordMethod()[0]

x =  0.7549415787649418

      x_n-1        xn
0  0.100000  0.960195
1  0.703452  0.703452
2  0.703452  0.768504
3  0.768504  0.751320
4  0.751320  0.755810
5  0.755810  0.754634
6  0.754634  0.754942