In [166]:
import pandas as pd
import numpy as np
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'ignore', 'over': 'warn', 'under': 'ignore', 'invalid': 'ignore'}

In [167]:
e_arr = np.array([[0, 0.3, -0.1, 0.2, -1],
                  [0.2, 0, 0.1, -0.2 , -4],
                  [0.3, -0.1, 0, 0.3, 2], 
                  [0.3, 0, -0.2, 0, 0.1]])

e = 0.001

### Метод простой итерации

In [168]:
res_table = res_table =  pd.DataFrame(columns = ['x1',
                                     'x2',
                                     'x3',
                                     'x4',
                                     'погрешность_x1',
                                     'погрешность_x2',
                                     'погрешность_x3',
                                     'погрешность_x4'])

In [169]:
sim_data = e_arr.copy()
row, column = sim_data.shape

In [170]:
change_etin = sim_data[0:4, 0:4]
free_stolb = sim_data[:, 4:5].ravel().copy()

print(change_etin, free_stolb)

[[ 0.   0.3 -0.1  0.2]
 [ 0.2  0.   0.1 -0.2]
 [ 0.3 -0.1  0.   0.3]
 [ 0.3  0.  -0.2  0. ]] [-1.  -4.   2.   0.1]

In [171]:
def add_info_table(new_data):
    res_table.loc[len(res_table.index)] = new_data

In [172]:
def error_rate(new_iter, past_iter):
    res = abs(new_iter - past_iter) / new_iter
    if abs(res.max()) < e and abs(res.min()) < e:
        return False
    
    union_for_table = np.hstack((new_iter, res)).copy()
    add_info_table(union_for_table)
    return True

In [173]:
def create_new_iter(past_iter):
    """past_iter = [x0, y0, z0, p0] / res_iter = [x1, y1, z1, p1]"""
    res_iter = np.array([])
    for i_row in range(0, change_etin.shape[0]):
        new_item = 0
        for i_column in range(0, change_etin.shape[1]):
            new_item += (change_etin[i_row][i_column] * past_iter[i_column])
        
        new_item = new_item + free_stolb[i_row]
        res_iter = np.append(res_iter, new_item)

    return error_rate(res_iter, past_iter)

In [174]:
status = True
past_data = np.array([0,0,0,0]) 

while status:
    status = create_new_iter(past_data)
    l_iter = res_table.iloc[-1]
    past_data = np.array([l_iter.x1, l_iter.x2, l_iter.x3, l_iter.x4])

In [175]:
res_table

,x1,x2,x3,x4,погрешность_x1,погрешность_x2,погрешность_x3,погрешность_x4
0,-1.000000,-4.000000,2.000000,0.100000,-1.000000,-1.000000,1.000000,1.000000
1,-2.380000,-4.020000,2.130000,-0.600000,-0.579832,-0.004975,0.061033,-1.166667
2,-2.539000,-4.143000,1.508000,-1.040000,-0.062623,-0.029689,0.412467,-0.423077
3,-2.601700,-4.149000,1.340600,-0.963300,-0.024100,-0.001446,0.124869,-0.079622
4,-2.571420,-4.193620,1.345400,-0.948630,-0.011776,-0.010640,0.003568,-0.015464
5,-2.582352,-4.190018,1.363347,-0.940506,-0.004233,-0.000860,0.013164,-0.008638
6,-2.581441,-4.192035,1.362144,-0.947375,-0.000353,-0.000481,0.000883,-0.007251
7,-2.583300,-4.190599,1.360559,-0.946861,-0.000719,-0.000343,0.001166,-0.000543

In [176]:
res_table = res_table.drop([i for i in range(0,res_table.shape[0])])

### Метод Зейделя

In [177]:
def create_new_iter_zel(past_iter):
    new_iter = past_iter.copy()
    for i_row in range(0, change_etin.shape[0]):
        new_item = 0
        for i_column in range(0, change_etin.shape[1]):
            
            new_item += (change_etin[i_row][i_column] * new_iter[i_column])
        
        new_item = new_item + free_stolb[i_row]
        new_iter[i_row] = new_item
        
    return error_rate(new_iter, past_iter)

In [178]:
status = True
past_data = np.array([0,0,0,0]) 

while status:
    status = create_new_iter_zel(past_data)
    l_iter = res_table.iloc[-1]
    past_data = np.array([l_iter.x1, l_iter.x2, l_iter.x3, l_iter.x4])

In [179]:
res_table

,x1,x2,x3,x4,погрешность_x1,погрешность_x2,погрешность_x3,погрешность_x4
0,-1.000000,-4.000000,2.000000,0.000000,-1.000000,-1.000000,1.000000,NaN
1,-2.400000,-4.280000,1.708000,-0.961600,-0.583333,-0.065421,0.170960,-1.000000
2,-2.647120,-4.166304,1.334014,-0.960939,-0.093354,-0.027289,0.280346,-0.000688
3,-2.575480,-4.189507,1.358025,-0.944249,-0.027816,-0.005538,0.017680,-0.017675
4,-2.581504,-4.191649,1.361439,-0.946739,-0.002334,-0.000511,0.002508,-0.002630